@mixin width-padd($min-width,$padding) {
    .wrapper{
        min-width: $min-width;
        padding: $padding;

    }
}

.page {
    background-color: rgb(247, 242, 242);
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    //min-width: 450px;
    background-color:white;
    //padding:60px;

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .container{
        .tasks-list{
            list-style: none;
            .task{
                padding: 1.2em 0;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

            }

        }

    }
    .btn-add{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: none;
        outline: none;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        background-color: #63f292;
    }
}

.full-date {
    display: flex;
    align-items: center;
}

.supsub {
    display: flex;
    flex-direction: column;
    margin-left: .5em;
}

.superscript {
    font-family: noto-400;
}
.day{
    font-size: 270%;
    font-family: sans-serif;

}
.today{
    font-family: noto-400;
}
.fa-icon{
    color: gray;
}
.disabled{
    opacity: .3;
}
.compass-icon{
    color:#63f292;
}

@media (max-width: 480px) { /* smartphones, iPhone, portrait 480x320 phones */ 

    @include width-padd(220px,20px);
    .page{
        align-items: stretch;
    }

}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
    @include width-padd(300px,30px);

}
@media (min-width:641px) and (max-width: 960px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 

    @include width-padd(300px,30px);
    .wrapper{
        .btn-add{
            width: 60px;
            height: 60px;
        }
    }

}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 

    @include width-padd(600px,40px);

}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 

    @include width-padd(800px,40px);

}
@media (min-width:1281px) { /* hi-res laptops and desktops */
    @include width-padd(800px,40px);
 }


